{% load i18n %}


<div class="box">
   <div class="flex flex-left">
      <div class="form-group">
         <label for="name">{% trans "Name" %}</label>
         <input id="name" type="text"  name="name">
      </div>
      <div class="form-group">
         <label for="display_name">{% trans "Display Name" %}</label>
         <input id="display_name" type="text"  name="display_name">
      </div>
   </div>
   <div class="flex flex-left">
      <div class="form-group">
        <label for="range_start">{% trans "Start Value" %}</label>
        <input id="range_start" type="text"  name="range_start">
      </div>
      <div class="form-group">
        <label for="range_end">{% trans "End Value" %}</label>
        <input id="range_end" type="text"  name="range_end">
      </div>
   </div>
   <div class="flex flex-left">
      <div class="form-group">
         <span class="padding-bottom">{% trans "Type" %}</span>
         <div class="row">
               {% for k,v in ATTRIBUTE_TYPE %} 
               <span class="padding"><input id="attr-type-{{v}}" class="js-input-attr-type" type="radio" name="attribute_type" value="{{k}}"> <label for="attr-type-{{v}}">{{v}}</label></span>
               {% endfor %}
         </div>
      </div>
   </div>
   <div class="flex flex-left">
      <div class="form-group">
            <span class="padding-bottom">{% trans "Status" %}</span>
            <div class="row"><span class="padding"><input id="is_primary" type="checkbox"  name="is_primary"><label for="is_primary">{% trans "Primary Type" %}</label></span></div>
      </div>
   </div>
</div>
