{% load i18n %}
 <input type="checkbox" id="simple-calculator-toggle">
<div id="simple-calculator" class="mat-box">
    <div class="mat-box-title"><span>{% trans "Simple Price Calculator" %}</span></div>
    <div class="calculator-wrapper row">
        
        <div class="calculator-settings padding-r margin-r">
            <div class="form-group">
                <label for="percent">{% trans "Percent Gain" %}</label>
                {% comment %}
                    <input id="percent" type="text">
                {% endcomment %}
                <select name="percent" id="percent">
                    {% for p in PERCENT_LIST %}
                        <option value="{{p}}" {% if p == DEFAULT_PERCENT %}selected{% endif %}>{{p}}%</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="ship-it">{% trans "Shipping Price" %}(Euro)</label>
                {% comment %}
                    <input id="ship-it" type="text">
                {% endcomment %}
                <select name="ship_it" id="ship-it">
                    {% for p in SHIP_IT_PRICES %}
                        <option value="{{p}}" {% if p == DEFAULT_SHIP_IT_PRICE %}selected{% endif %}>{{p}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="calc-price">{% trans "Article Price" %}(Euro)</label>
                <input id="calc-price" type="text" autocomplete='off'>
            </div>
        </div>
        <div class="simple-calculator simple-calculator-results padding-r margin-r">
            <div class="container">
                <div class="form-group">
                    <label for="currency">{% trans "Currency" %}</label>
                    <select name="currency" id="currency">
                        {% for k,v in CURRENCIES %}
                            <option value="{{v}}" {% if v == DEFAULT_CURRENCY_CONVERTER %}selected{% endif %}>{% trans k %}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="calc-selling-price">{% trans "Selling Price" %}(EURO)</label>
                    <input id="calc-selling-price" class="disabled" type="text" autocomplete='off'>
                </div>
                <div class="form-group">
                    <label for="calc-selling-price-xaf">{% trans "Selling Price" %}(CURRENCY)</label>
                    <input id="calc-selling-price-xaf" class="disabled" type="text" autocomplete='off'>
                </div>
                <div class="form-group">
                    <label for="calc-min-selling-price-xaf">{% trans "Min Selling Price" %}(CURRENCY)</label>
                    <input id="calc-min-selling-price-xaf" class="disabled" type="text" autocomplete='off'>
                </div>
                <div class="result-table">
                    <div class="mat-table-wrapper">
                        <table id="simple-price-table" class="mat-table">
                            <thead>
                                <tr>
                                    {% for th in PERCENT_LIST %} <th>{{th}}%</th>{% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>