{% load i18n %}

<div class="mat-box">
        <div class="mat-box-title"><span>{% trans "Table Calculator" %}</span></div>
        <div class="table-calculator">
            
            <div class="table-settings">
                <div class="form-group">
                    <label for="start_price">{% trans "Start Price" %}(Euro)</label>
                    <input id="start_price" type="text">
                </div>
                <div class="form-group">
                    <label for="end_price">{% trans "End Price" %}(Euro)</label>
                    <input id="end_price" type="text">
                </div>
            </div>
            <div class="result-table">
                <div class="mat-table-wrapper">
                    <table id="price-table" class="mat-table">
                        <thead>
                            <tr>
                                <th>{% trans "Unit Price" %}(Euro)</th>
                                <th>{% trans "Cost Price" %}(Euro)</th>
                                {% for th in PERCENT_LIST %} <th>{{th}}%</th>{% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>

                    </table>
                </div>
            </div>
        
        </div>
</div>