{% load i18n %}

<div class="footer-content">
    <div class="col-xs-12 col-6">
        <div class="footer-catalog">
            <div class="flex flex-wrap bold"><span class="full center"><i class="fas fa-hand-holding-usd icon"></i></span><span class="full center">{% trans "Payment Options" %}</span></div>
            <ul>
                {% for pm in payment_methods %} <li>{{pm.display_name}}</li> {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-6">
        <div class="footer-catalog">
            <div class="flex flex-wrap bold"><span class="full center"><i class="fas fa-truck icon"></i></span><span class="full center">{% trans "Shipping" %}</span></div>
            <ul>
                {% for s in ship_modes %} <li>{% trans s.display_name %}</li> {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-6">
        <div class="footer-catalog">
            <div class="flex flex-wrap bold"><span class="full center"><i class="fas fa-map-marker icon"></i></span><span class="full center">{% trans "Pick up Locations" %}</span></div>
            <ul class="small">
                <li><i class="fas fa-map-marked-alt icon"></i><span class="bold padding-r">LBV</span><span>{% trans "Louis, in the galleries of the municipal market, Box N ° 4" %}</span></li>
                <li><i class="fas fa-map-marked-alt icon"></i><span class="bold padding-r">POG</span><span>{% trans "Grand village, at Josy Coiffure, near CECADO, at carréfour Assane" %}</span></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-6">
        <div class="footer-catalog">
            <div class="flex flex-wrap bold"><span class="full center"><i class="fas fa-address-card icon"></i></span><span class="full center">{% trans "Contact" %}</span></div>
            <ul class="flex small">
                <li><a class="mat-button mat-button-text" href="https://wa.me/+24177433646/?text={{UI_STRINGS_CONTEXT.UI_WHATSAPP_BODY|urlencode}}"><i class="fab fa-whatsapp icon"></i></a></li>
                <li><a class="mat-button mat-button-text" href="https://www.facebook.com/lyshoppinggabao" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook icon"></i></a></li>
                <li><a class="mat-button mat-button-text" href="mailto:info@lyshoping.com"><i class="far fa-envelope icon"></i></a></li>
            </ul>
        </div>
    </div>
</div>