*.sqlite3
*.db
*.pyc
staticfiles/*
static_root/*
*.jpg
*.png
*.bmp
*.pdf
*.jpeg
*.ico
.vscode
*/migrations/*
*/__pycache__/*
jaribio_site*.conf
jaribio_site*.conf.backup
robots.txt
log
logs
*/build/*
*/js-minify/*
static/build
*.log
celerybeat-schedule
media
__pycache__
XDG_CACHE_HOME
