{% extends "product_base.html"%}
{% load i18n %}
{% load catalog_tags %}


{% block CONTENT_MAIN %}

<div class="container">
        <form action="{% url 'dashboard:attributes-delete' %}" method="POST">{% csrf_token %}
        {% if perms.catalog.delete_productattribute %}
        <div class="actions flex-left">
                <a class="mat-button mat-button-default" href="{% url 'dashboard:attributes-create' %}"><i class="fas fa-plus icon"></i><span>{% trans "New Attributes" %}</span></a>
                {% if has_default_not_set %}
                <a class="mat-button mat-button-outline" href="{% url 'dashboard:attribute-primary-update' %}"><i class="fas fa-sync icon"></i><span>{% trans "Update Default Primary" %}</span></a>
                {% endif %}
                <button class="js-activable mat-button mat-button-outline" disabled><i class="fas fa-trash icon"></i><span>{% trans "Delete" %}</span></button>
        </div>
        {% endif %}
        <div class="mat-table-wrapper">
                <div class="mat-table-title padding-v">{% trans "Product Attributes" %}</div>
                <table id="attr-list" class="mat-table js-filter-table">

                        <thead>
                                <tr>
                                        <th scope="col" class="th-checkbox"><label><input id="filter-select-all" class="js-select-all" type="checkbox" name="allselected" title="{% trans 'Select all' %}"></th>
                                        <th scope="col">{% trans "Name" %}</th>
                                        <th scope="col">{% trans "Display Name" %}</th>
                                        <th scope="col">{% trans "Value" %}</th>
                                        <th scope="col">{% trans "Primary" %}</th>
                                        <th scope="col">{% trans "Value Type" %}</th>
                                        <th scope="col" class="th-actions">{% trans "Details" %}</th>
                                </tr>
                        </thead>
                        <tbody>
                                {% for attr in attribute_list %}
                                <tr>
                                <td scope="row" data-label="" class="checkbox"><label><input class="js-selectable" type="checkbox" name="attributes" value="{{attr.pk}}"><span class="checkbox-label"></span></label></td>
                                <td data-label="{% trans 'Name' %}"><span>{{attr.name}}</span></td>
                                <td data-label="{% trans 'Display Name' %}"><span>{% trans attr.display_name %}</span></td>
                                <td data-label="{% trans 'Value' %}"><span>{% trans attr.value %}</span></td>
                                <td data-label="{% trans 'Primary' %}"><span>{{attr.is_primary|yesno:_("yes,no")}}</span></td>
                                <td data-label="{% trans 'Value type' %}"><span>{{attr.value_type|attr_type_value}}</span></td>
                                <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{{attr.get_dashboard_url}}"><span><i class="fas fa-info icon"></i>{% trans "Details" %}</span></a></td>
                                </tr>
                                {% endfor %}
                                
                        </tbody>
                </table>
        </div>
        </form>
    {% include "tags/pagination.html" with page_set=attribute_list %}
</div>
{% endblock CONTENT_MAIN %}