{% extends "dashboard_base.html"%}
{% load i18n %}

{% block CONTENT %}

{% if perms.auth.view_user %}

<div class="container">
    <div class="actions flex-left">
      {% if perms.auth.add_user %}
      <a class="mat-button mat-button-default" href="{% url 'dashboard:create-user' %}"> <i class="fas fa-user-plus icon"></i><span>{% trans "New Customer" %}</span></a>
      <a class="mat-button mat-button-outline" href="{% url 'dashboard:generate-customer-ids' %}"> <i class="fas fa-user-plus icon"></i><span>{% trans "Generate Customer IDs" %}</span></a>
      {% endif %}
    </div>
    
    <form action="{% url 'dashboard:users-delete' %}" method="POST">{% csrf_token %}
        <div class="mat-table-wrapper">
            <div class="mat-table-title padding-v">{% trans "Customers" %}</div>
            <table id="user-list" class="mat-table js-filter-table">
              <thead>
                      <tr>
                              <th class="th-checkbox"><input id="filter-select-all" class="js-select-all" type="checkbox" name="allselected" title="{% trans 'Select all' %}"></th>
                              <th scope="col">{% trans "Customer" %}</th>
                              <th scope="col">{% trans "Customer ID" %}</th>
                              <th scope="col">{% trans "Date Joined" %}</th>
                              <th scope="col">{% trans "Status" %}</th>
                              <th scope="col" class="th-actions">{% trans "Actions" %}</th>
                      </tr>
              </thead>
              <tbody>
                      {% for u in customers  %}
                      <tr>
                        <td class="checkbox"><input class="js-selectable" type="checkbox" name="users" value="{{u.id}}"></td>
                        <td data-label="{% trans 'Customer' %}"><span>{{u.username}}</span></td>
                        <td data-label="{% trans 'Customer ID' %}"><span>{{u.customer_id}}</span></td>
                        <td data-label="{% trans 'Date Joined' %}"><span>{{u.date_joined|date:"F j,Y H:i:s"}}</span></td>
                        <td data-label="{% trans 'Status' %}"><span><i class="fas fa-circle icon {% if u.is_active %}success{% else %}error{% endif %}"></i>{{u.is_active|yesno:_('active,inactive')}}</span></td>
                        <td data-label="{% trans 'Actions' %}"><a class="mat-button mat-button-default" href="{% url 'dashboard:user-detail' u.id %}">{% trans "More" %} </a></td>
                      </tr>
                      {% endfor %}
                      
              </tbody>
            </table>
          </div><!--End of Table Wrapper-->
    </form>
    {% include "tags/pagination.html" with page_set=users %}
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT %}