{% extends "dashboard_base.html"%}
{% load i18n %}
{% load core_tags %}
{% if not perms.dashboard.can_view_dashboard %}
{% include "tags/unauthorized.html" %}
{% else %}




<div class="main-content">
{% block DASHBOARD_SUMMARY %}
        {% include "tags/dashboard_summary.html" %}
{% endblock DASHBOARD_SUMMARY %}

{% block CONTENT %}

{% comment %}
        {% if product_reports and product_reports.detail_reports %}
        <div class="mat-table-wrapper">
                <h4>{% trans "Product Reports" %}</h4>
                <ul class="grid">
                <li><h5>{% trans "Brand report" %}</h5></li>
                {% for entry in product_reports.detail_reports.product_brand_report %}
                <li class="left padding"><span>{{entry.brand_name}}</span> - <span>{{entry.count}}</span></li>
                {% endfor %}
                </ul>
        
                <ul class="grid">
                <li><h5>{% trans "Product Type report" %}</h5></li>
                {% for entry in product_reports.detail_reports.product_type_report %}
                <li class="left padding"><span>{{entry.type_name}}</span> - <span>{{entry.count}}</span></li>
                {% endfor %}
                </ul>
        
                <ul class="grid">
                <li><h5>{% trans "Product Gender report" %}</h5></li>
                {% for entry in product_reports.detail_reports.product_gender_report %}
                <li class="left padding"><span>{{entry.gender|gender_value}}</span> - <span>{{entry.count}}</span></li>
                {% endfor %}
                </ul>
        </div>
        
        {% endif %}
{% endcomment %}
{% if sessions %}
<div class="mat-list-wrapper">
        {% csrf_token %}
        <div class="actions"><button class="mat-button js-clear-session-btn">{% trans "Clear Sessions" %}</button></div>
        <div id="session-warning" class="hidden"><span class="warn">{% trans "Sessions not cleared" %}</span></div>
        <ul id="session-list" class="mat-list">
                {% for s in sessions %}
                <li><div class="entry"><span class="key">{% trans "Session Key" %}</span><span class="value">{{s.session_key}}</span> - <span class="value">{{s.get_decoded}}</span></div></li>
                {% endfor %}
        </ul>
</div>
{% endif %}

<div class="mat-table-wrapper">
                <div class="mat-table-title flex flex-left align-baseline label"><span class="medium">{% trans "New Customer" %}</span> <a href="{% url 'dashboard:users' %}" class="mat-button mat-button-text"><span class="small">{% trans "See all" %}</span><i class="fas fa-arrow-right icon"></i></a></div>
                <table id="user-list" class="mat-table">
                        <thead>
                                <tr>
                                        <th scope="col" class="padding-h">{% trans "Name" %}</th>
                                        <th scope="col">{% trans "Status" %}</th>
                                        <th scope="col">{% trans "Date Joined" %}</th>
                                        <th scope="col">{% trans "Last Login" %}</th>
                                </tr>
                        </thead>
                        <tbody>
                                {% for u in user_list  %}
                                <tr>
                                        <td data-label="{% trans 'Name' %}"><span>{{u.get_full_name}}</span></td>
                                        <td data-label="{% trans 'Status' %}"><span><i class="fas fa-circle {% if u.is_active %}success {% else %} warning {% endif %} icon"></i>{{u.is_active|yesno:_('active,inactive')}}</span></td>
                                        <td data-label="{% trans 'Date Joined' %}"><span>{{u.date_joined|date:"F j, Y H:i:s"}}</span></td>
                                        <td data-label="{% trans 'Last Login' %}"><span>{{u.last_login|date:"F j, Y H:i:s"}}</span></td>
                                </tr>
                                {% endfor %}
                                
                        </tbody>
                </table>
                
</div> <!--End of Table Wrapper-->

{% endblock CONTENT %}
</div>


{% endif %}