{% extends "dashboard_base.html"%}
{% load i18n %}
{% load tz %}
{% load order_tag %}


{% block CONTENT %}
{% if perms.orders.view_paymentmethod %}
<div class="container">

        <form action="{% url 'dashboard:payment-methods-delete' %}" method="POST">{% csrf_token %}
        <div class="actions flex-left">
            <a class="mat-button mat-button-default" href="{% url 'dashboard:payment-method-create'%}"> <i class="fas fa-plus icon"></i><span>{% trans "New Payment Method" %}</span></a>
            {% if perms.orders.delete_paymentmethod %}
            <button id="js-delete-all-btn" class="mat-button mat-button-outline js-activable" disabled><i class="fas fa-trash icon"></i><span>{% trans "Delete" %}</span></button>
            {% endif %}
        </div>
        <div class="mat-table-wrapper">
            <div class="mat-table-title">{% trans "Payment Methods" %}</div>
            <table id="payment-method-list" class="mat-table js-filter-table">
            <thead>
                    
                    <tr>
                            <th scope="col" class="th-checkbox"><label><input id="filter-select-all" class="js-select-all" type="checkbox" name="allselected" title="{% trans 'Select all' %}"></label></th>
                            <th scope="col">{% trans "Name" %}</th>
                            <th scope="col">{% trans "Display Name" %}</th>
                            <th scope="col">{% trans "Provider" %}</th>
                            <th scope="col">{% trans "Mode" %}</th>
                            <th scope="col">{% trans "Active" %}</th>
                            <th scope="col">{% trans "Date of creation" %}</th>
                            <th scope="col">{% trans "Details" %}</th>
                    </tr>
            </thead>
            <tbody>
                    {% for payment_method in payment_method_list  %}
                    <tr>
                    <td scope="row" class="checkbox"><label><input class="js-selectable" type="checkbox" name="payment_methods" value="{{payment_method.pk}}"><span class="checkbox-label"></span></label></td>
                    <td data-label="{% trans 'Name' %}">{{payment_method.name}}</td>
                    <td data-label="{% trans 'Display Name' %}">{{payment_method.display_name}}</td>
                    <td data-label="{% trans 'Provider' %}">{{payment_method.provider}}</td>
                    <td data-label="{% trans 'Mode' %}">{{payment_method.mode|pay_mode_value}}</td>
                    <td data-label="{% trans 'Active' %}">{{payment_method.is_active|yesno}}</td>
                    <td data-label="{% trans 'Date of Creation' %}">{{payment_method.created_at|date:"F j, Y"}}</td>
                    <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{{payment_method.get_dashboard_url}}"> <i class="fas fa-info icon"></i><span>{% trans "Details" %}</span></a></td>
                    
                    </tr>
                    {% endfor %}
                    
            </tbody>
            </table>
        {% include "tags/pagination.html" with page_set=payment_method_list %}
        </div><!--End of Table Wrapper-->
        </form>
</div>
{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT %}