{% extends "dashboard_base.html"%}
{% load i18n %}
{% load order_tag %}


{% block CONTENT %}

{% if perms.orders.view_paymentrequest %}

<div class="container">
    <div class="mat-table-wrapper">
        <div class="mat-table-title">
          <span>{% trans "Payment Requests" %}</span>
        </div>
        <table id="request-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          <!--<th><input id="filter-select-all" type="checkbox" name="allselected"></th>-->
                          <th scope="col">{% trans "Customer" %}</th>
                          <th scope="col">{% trans "Amount" %}</th>
                          <th scope="col">{% trans "Payment Status" %}</th>
                          <th scope="col">{% trans "Date" %}</th>
                          <th scope="col">{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for r in requests  %}
                  <tr>
                    <!--<td class="checkbox"><input type="checkbox" name="selected-service"></td>-->
                    <td scope="row" data-label="Customer"><span>{{r.customer.get_full_name}}</span></td>
                    <td data-label="Amount"><span>{{r.amount|floatformat:"-2"}} {% trans "XAF" %}</span></td>
                    <td data-label="Payment Status"><span>{{r.payment_status|pay_status_value}}</span></td>
                    <td data-label="Date"><span>{{r.created_at|date:"F j,Y H:i:s"}}</span></td>
                    <td data-label="Details"><a class="mat-button mat-button-default" href="{{r.get_dashboard_url}}">{% trans "More" %}</a></td>
                  </tr>
                  {% endfor %}
          </tbody>
        </table>
    {% include "tags/pagination.html" with page_set=requests %}
    </div><!--End of Table Wrapper-->
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT %}