{% extends "product_base.html"%}
{% load i18n %}
{% load catalog_tags %}

{% block ACTIONS %}
<a class="mat-button mat-button-default" href="{% url 'dashboard:product-type-create' %}"> <i class="fas fa-plus icon"></i><span>{% trans "Add New Produt Type" %}</span></a>
<a class="mat-button mat-button-outline" href="{{product_type.get_update_url}}"> <i class="fas fa-edit icon"></i><span>{% trans "Edit" %}</span> </a>
<a class="mat-button mat-button-outline" href="{% url 'dashboard:product-types' %}"><i class="fas fa-list icon"></i><span>{% trans "Product Types" %}</span></a>
{% endblock ACTIONS %}

{% block CONTENT_MAIN %}
<div class="container">
    {% include 'tags/product_type_tag.html' %}   
</div>
{% endblock CONTENT_MAIN %}