{% extends "product_base.html"%}
{% load i18n %}
{% block ACTIONS %}
<a class="mat-button mat-button-default" href="{% url 'dashboard:product-type-create' %}"> <i class="fas fa-plus icon"></i><span>{% trans "New Produt Type" %}</span></a>
<a class="mat-button mat-button-outline" href="{% url 'dashboard:product-types' %}"><i class="fas fa-list icon"></i><span>{% trans "Product Types" %}</span></a>
{% endblock ACTIONS %}

{% block CONTENT_MAIN %}

<div class="container">
    {% include 'tags/product_type_form_update_tag.html' %}   
</div>
{% endblock CONTENT_MAIN %}