{% load i18n %}

<div class="container padding">
    <div class="row" id="created-producted-link">
        <a class="mat-button mat-button-outline" href=""></a>
    </div>
    <form id="question-form" action="{% url 'quiz:question-create' quiz.quiz_uuid %}" class="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <input type="hidden" name="quiz" value={{quiz.pk}}>
        <input type="hidden" name="created_by" value={{request.user.pk}}>

        <div class="actions flex-left padding-v">
            <a class="mat-button mat-button-text js-cancel" href="{{quiz.get_absolute_url}}">{% trans "Back" %}</a>
        </div>
        <div class="mat-box container">
        
            <div class="col-xs-12 col-3">
                <div class="box">
                    {% include "tags/images_uploader.html" with FORM_ID="quiz-form" INPUT_NAME="image" UPLOADER_TITLE='Quiz Image'%}
                </div>
            </div>
            <div class="col-xs-12 col-7">
                <div class="box create-form full">
                    <div class="flex flex-left">
                        <div class="form-group">
                            <label for="title">{% trans "Question" %}</label>
                            <input type="text" name="title" id="title">
                        </div>
                        <div class="form-group">
                            <label for="answer_count">{% trans "Answer Count" %}</label>
                            <input type="text" name="answer_count" id="answer_count">
                        </div>
                    </div>
                    <div class="flex flex-left">
                        <div class="form-group">
                            <span class="padding-bottom">{% trans "Question Type" %}</span>
                            <div class="row">
                                {% for k,v in QUESTION_TYPES %} 
                                <span class="padding"><input id="question-{{v}}" class="js-input-question-type" type="radio" name="question_type" value="{{k}}" {% if k == QUESTION_TYPE_MCQ %} checked {% endif %}> <label for="question-{{v}}">{{v}}</label></span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="score">{% trans "Score" %}</label>
                            <input type="text" name="score" id="score">
                        </div>
                    </div>
                    <div class="flex flex-left">
                        <div class="form-group">
                            <span class="padding-bottom">{% trans "Answers" %}</span><span class="js-add-answer padding-h"><i class="fas fa-plus icon"></i>{% trans "Add Answer" %}</span>
                            <div id="answers-wrapper" class="row">
                                <ul id="answers">
                                        <li>
                                            <div><input type="text" class="answers" name="content-0"> <span class="padding-h"><label for="is_correct-0">{% trans "Is Accepted" %}</label><input type="checkbox" name="is_correct-0" id="is_correct-0"></span><span class="padding-h"><i class="fas fa-trash icon"></i></span></div>
                                            <div><input type="text" class="answers" name="content-1"> <span class="padding-h"><label for="is_correct-1">{% trans "Is Accepted" %}</label><input type="checkbox" name="is_correct-1" id="is_correct-1"></span><span class="padding-h"><i class="fas fa-trash icon"></i></span></div>
                                            <div><input type="text" class="answers" name="content-2"> <span class="padding-h"><label for="is_correct-2">{% trans "Is Accepted" %}</label><input type="checkbox" name="is_correct-2" id="is_correct-2"></span><span class="padding-h"><i class="fas fa-trash icon"></i></span></div>
                                            <div><input type="text" class="answers" name="content-3"> <span class="padding-h"><label for="is_correct-3">{% trans "Is Accepted" %}</label><input type="checkbox" name="is_correct-3" id="is_correct-3"></span><span class="padding-h"><i class="fas fa-trash icon"></i></span></div>
                                        </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-left flex-wrap">
                        <div class="form-group">
                            <label class="padding-bottom" for="explaination">{% trans "Explaination" %}</label>
                            <textarea id="explaination" class="limited-input bordered" name="explaination" cols="30" rows="10" data-target="#length-counter" data-max-length="{{DESCRIPTION_MAX_SIZE}}"></textarea>
                        </div>
                        
                        <div class="row padding-l"> <span id="length-counter" class="char-counter">0</span><span class="text-max-length">/{{DESCRIPTION_MAX_SIZE}}</span></div>
                    </div>
                    <div class="actions flex-right">
                        <span class="mat-button mat-button-outline js-cancel">{% trans "Cancel" %}</span>
                        <button class="mat-button mat-button-default" type="submit">{{UI_STRINGS_CONTEXT.UI_SEND_BTN_LABEL}}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>