{% load i18n %}

<div class="container padding">
    <div class="row" id="created-producted-link">
        <a class="mat-button mat-button-outline" href=""></a>
    </div>
    <form id="quizstep-form" action="{% url 'quiz:quizstep-create' quiz.quiz_uuid %}" data-quiz="{{quiz.quiz_uuid}}" class="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <input type="hidden" name="quiz" value={{quiz.pk}}>
        
        <div class="actions flex-left padding-v">
            <a class="mat-button mat-button-text js-cancel" href="{{quiz.get_absolute_url}}">{% trans "Back" %}</a>
        </div>
        <div class="mat-box container">
            <div class="col-xs-12 col-7">
                <div class="box create-form full">
                    <div class="flex flex-left">
                        <div class="form-group">
                            <label for="title">{% trans "Title" %}</label>
                            <input type="text" name="title" id="title">
                        </div>
                        <div class="form-group">
                            <label for="rank">{% trans "Rank" %}</label>
                            <input type="text" name="rank" id="rank">
                        </div>
                    </div>
                    <div class="flex flex-left">
                        <div class="form-group">
                            <span class="padding-bottom">{% trans "Score Type" %}</span>
                            <div class="row">
                                {% for k,v in SCORE_TYPES %} 
                                <span class="padding"><input id="score-type-{{v}}" class="js-input-score-type" type="radio" name="score_type" value="{{k}}" {% if k == ANSWER_SCORE_STANDARD %} checked {% endif %}> <label for="score-type-{{v}}">{{v}}</label></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-left">
                        <div class="form-group">
                            <label for="questions">{% trans "Selected Question" %}</label>
                            <input type="text" name="questions" id="questions">
                        </div>
                    </div>
                    <div class="flex flex-left">
                        <div class="form-group">
                            <div class="flex flex-left"><span class="padding-bottom"><label">{% trans "Questions" %}</label></span><span class="js-clear-selected-questions warn"><i class="fas fa-backspace icon"></i>{% trans "Clear" %}</span></div>
                            <div id="answers-wrapper" class="row">
                                <ul id="question-list">
                                {% for q in questions %}
                                        <li class="mat-list-item" data-question="{{q.pk}}">
                                            <span><input class="js-qs-question-select" type="checkbox" name="" id="question-{{q.pk}}" value="{{q.pk}}"><label for="question-{{q.pk}}">{{q}}</label></span>
                                        </li>
                                {% endfor %}
                                        
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="actions flex-right">
                        <span class="mat-button mat-button-outline js-cancel">{% trans "Cancel" %}</span>
                        <button class="mat-button mat-button-default" type="submit">{{UI_STRINGS_CONTEXT.UI_SEND_BTN_LABEL}}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>